<a href="https://colab.research.google.com/github/Ms-Noxolo/Team_EN3_Jozi/blob/master/Collaborative_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#!pip install scikit-surprise

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
#Importing modules
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
import math
from surprise import Dataset, Reader, SVD, KNNWithMeans
from surprise.model_selection import train_test_split

In [3]:
# Importing data
train = pd.read_csv('/content/drive/My Drive/Music/train.csv')
test = pd.read_csv('/content/drive/My Drive/Music/test.csv')
movies = pd.read_csv('/content/drive/My Drive/Music/movies.csv')

In [4]:
train.head()

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

In [5]:
test.head()

   userId  movieId
0       1     2011
1       1     4144
2       1     5767
3       1     6711
4       1     7318

In [6]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [7]:
#Dropping timestamp
train.drop('timestamp',axis=1,inplace=True)

In [8]:
#Reducing the data to can only use the sample
X = train[:1000000]

In [9]:
#Loading data and determining the range of the ratings
reader = Reader(rating_scale=(1,5))
data = Dataset.load_from_df(X, reader)
trainset, testset = train_test_split(data, test_size=0.25)

In [10]:
#Training the model
model = SVD(n_factors=150,random_state=42)
model.fit(trainset)

In [11]:
# making the ratings predictions and comparing them with the real values
c = []
for a,i,j in testset:
    c.append(round(model.predict(i,j).est))
a = []
for i,j,k in testset:
    a.append(k)
math.sqrt(mean_squared_error(a,c))

1.3130357953993486

In [12]:
#Creating a new dataframe of movieId and titles
new = movies.loc[:,['movieId','title']]

In [13]:
#Merging data with titles to can create a pivot_table
X = pd.merge(X,new,on = 'movieId')

In [14]:
X

        userId  movieId  rating                                           title
0         5163    57669     4.0                                In Bruges (2008)
1        87388    57669     3.5                                In Bruges (2008)
2       137050    57669     4.0                                In Bruges (2008)
3       120490    57669     4.5                                In Bruges (2008)
4        50616    57669     4.5                                In Bruges (2008)
...        ...      ...     ...                                             ...
999995   60438   105079     0.5                         His Regeneration (1915)
999996  154044   148480     3.0                              Double Down (2005)
999997  111324   110106     2.5                 Naked Harbour (Vuosaari) (2012)
999998   72315   173345     3.5                                 Cat City (1986)
999999  100260    97382     2.0  Under the Boardwalk: The Monopoly Story (2010)

[1000000 rows x 4 columns]

In [15]:
#creating a pivot table to can compare the movies to can recommend
table = X[:800000].pivot_table(index=['userId'], columns = ['title'],values = 'rating').fillna(0)

In [16]:
table.head()

title   (500) Days of Summer (2009)  ...  ¡Three Amigos! (1986)
userId                               ...
1                               0.0  ...                    0.0
2                               0.0  ...                    0.0
3                               0.0  ...                    0.0
4                               0.0  ...                    0.0
5                               0.0  ...                    0.0

[5 rows x 3598 columns]

In [ ]:
#creating a similarity table to can compare the distance between movies using pearson correlation
similarity_df = table.corr(method='pearson')

Given that the user has seen a movie and rated it, we are going to recommend him another movie using the rating that he gave to th movie

In [ ]:
#Creating a function that sort movies according to their similarity score and return a dataframe of movies he might like
def find_similar(movie_name,rating):
    score = similarity_df[movie_name]*(rating-2.5)
    score = score.sort_values(ascending = False)
    similar_movies = pd.DataFrame()
    for movie,rating in movies:
        similar_movies = similar_movies.append(find_similar(movie,rating),ignore_index=True)
    similar_movies.head(10)
    Y = pd.DataFrame(similar_movies.sum().sort_values(ascending=False).head(10)).drop(0,axis=1)
    
    return Y

In [ ]:
#Finally recommending a new movie
find_similar((500) Days of Summer (2009),5)